/* Formattazione */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main */
.main-container {
    width: 80%;
    margin: auto;
}

.main-container::after {
    content: '';
    display: table;
    clear: both;
}

/* Card */
.card {
    width: 30%;
    float: left;
}

.card.left {
    margin-left: 2%;
}

.card.middle {
    margin: 0px 3%;
}

.card.right {
    margin-right: 2%;
}

.card img {
    width: 100%;
}

.card img.b {
    display: none;
}

.card:hover img.a {
    display: none
}

.card:hover img.b {
    display: block;
}