/* Formattazione */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 80%;
    background-color: darkblue;
    margin: auto;
}

.card {
    width: 30%
}

.card img {
    width: 100%;
}